<h1>Vowel Replacer</h1>

<form action="/puzzle" method="get">
  <div class="form-group">
    <label for="original-string">Enter a word or sentence</label>
    <input type="text" name="original-string" id="original-string">
  </div>
  <button type="submit" class="btn btn-success">Make Puzzle!</button>
</form>
