<h1>Vowel Replacer</h1>

<h3>Can you guess this puzzle?</h3>
<h4>$puzzleString</h4>

<p><input type="text" name="guess"></p>

<button id="revealer" class="btn btn-info">Click to reveal puzzle answer</button>

<div id="puzzle-reveal">
  <h3>And the answer is:</h3>
  <h4>$originalString</h4>
</div>
